<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!--  
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>
			com.opensymphony.sitemesh.webapp.SiteMeshFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	-->
	
	<servlet>
		<servlet-name>BookServlet</servlet-name>
		<servlet-class>com.easyui.servlet.BookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookServlet</servlet-name>
		<url-pattern>/BookServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddBookServlet</servlet-name>
		<servlet-class>com.easyui.servlet.AddBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddBookServlet</servlet-name>
		<url-pattern>/AddBookServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteBookServlet</servlet-name>
		<servlet-class>com.easyui.servlet.DeleteBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteBookServlet</servlet-name>
		<url-pattern>/DeleteBookServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdateBookServlet</servlet-name>
		<servlet-class>com.easyui.servlet.UpdateBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateBookServlet</servlet-name>
		<url-pattern>/UpdateBookServlet</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>
